<div class="table-responsive mt-5">
  <table class="table table-vcenter">
    <thead>
      <tr>
        {{{ await $slots.headers() }}}
      </tr>
    </thead>
    <tbody>
      {{{ await $slots.lines() }}}
    </tbody>
  </table>
</div>
