@layout.template({title:"Page d'accueil'"})

  @slot('header')

    @!header({})

  @endslot

  @slot('main')
  <div class="container-xl">
    <h1 class="mt-2">Page d'accueil</h1>
  </div>
  @endslot

@end
