@layout.template({title:'Les musiciens'})
  @slot('header')
    @!header({})
  @endslot

  @slot('main')
    <div class="container-xl">
      <h1 class="mt-2">Musiciens</h1>
    </div>
  @endslot

@end
